<div class="relative h-96 max-w-sm mx-auto mt-20 px-5 py-8 group rounded-3xl bg-gray-200 overflow-hidden shadow-xl">
  <img src="https://assets.revolut.com/media/plans-tiles/Cards-Tiles-Standard.png" alt="" class="absolute w-full h-full inset-0 object-cover">
  <div
      class="absolute inset-0 w-full h-full rounded-3xl bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-20 group-hover:backdrop-blur">
  </div>
  <div class="absolute inset-x-5 text-white">
      <h2 class="text-4xl font-semibold mb-2">Standart</h2>
      <p class="text-sm font-medium uppercase tracking-wider mb-6">Free</p>
      <p class="hidden group-hover:block">Whether you're looking to save money spending abroad or sticking to
          your
          budget with our built-in budgeting, get more from your money with our Standard account.</p>
  </div>
  <button class="absolute inset-x-5 bottom-8 py-3 rounded-2xl font-semibold bg-white shadow-lg hidden transition duration-200 hover:bg-gray-300 group-hover:block">Learn more</button>
</div>

----------------------------------------------------


<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
  <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
          <div class="w-1/2 p-1 md:p-2">
              <div
                  class="relative h-full md:h-full max-w-sm mx-auto px-5 py-2 group rounded-md bg-gray-200 overflow-hidden shadow-xl">
                  <img src="https://img2.pic.in.th/pic/30862becb5ef9ffa7ee.png" alt=""
                      class="absolute w-full h-full inset-0 ">
                  <div
                      class="absolute inset-0 w-full h-full rounded-2xl bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-20 group-hover:backdrop-blur">
                  </div>
                  <div
                      class="flex flex-col absolute inset-x-2 text-white text-xs sm:text-sm md:text-md lg:text-lg">
                      <a href="#" class="text-xs md:text-md xl:text-2xl font-semibold text-right">
                          66PP052
                      </a>
                      <p class="font-medium uppercase tracking-wider mb-6 text-right"> HW-H
                      </p>
                      <p class="hidden group-hover:block text-white">ผลงานโกดังสำเร็จรูป Happy
                          Prefabricated Warehouse - โครงสร้างเกล็กรีดร้อน (Hot Roll Wide Falnge) ขนาด 15 x
                          19.5 x 5 เมตร</p>
                  </div>
                  <button
                      class="absolute inset-x-5 bottom-8 py-3 rounded-2xl font-semibold bg-white shadow-lg hidden transition duration-200 hover:bg-gray-300 group-hover:block">ฮ่านต่อ</button>
              </div>
          </div>
          <div class="w-1/2 p-1 md:p-2">
              <div
                  class="relative h-full md:h-full max-w-sm mx-auto px-5 py-2 group rounded-md bg-gray-200 overflow-hidden shadow-xl">
                  <img src="https://img2.pic.in.th/pic/309a956969fc72554e1.png" alt=""
                      class="absolute w-full h-full inset-0">
                  <div
                      class="absolute inset-0 w-full h-full rounded-2xl bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-20 group-hover:backdrop-blur">
                  </div>
                  <div class="flex flex-col absolute inset-x-2 text-white text-xs md:text-md lg:text-lg">
                      <a class="text-xs md:text-md xl:text-2xl font-semibold text-right">66PP047</a>
                      <p class="font-medium uppercase tracking-wider mb-6 text-right"> HW-H
                      </p>
                      <p class="hidden group-hover:block text-white">ผลงานโกดังสำเร็จรูป Happy
                          Prefabricated Warehouse - โครงสร้างเกล็กรีดร้อน (Hot Roll Wide Falnge) ขนาด 12 x
                          28 x 8.5 เมตร</p>
                  </div>
                  <button
                      class="absolute inset-x-5 bottom-8 py-3 rounded-2xl font-semibold bg-white shadow-lg hidden transition duration-200 hover:bg-gray-300 group-hover:block">ฮ่านต่อ</button>
              </div>

              {{-- <div class="w-1/2 p-1">
                  <img alt="gallery" class="block h-full w-full rounded-lg  object-center"
                      src="https://img2.pic.in.th/pic/30862becb5ef9ffa7ee.png" />
              </div> --}}
          </div>
          <div class="w-full p-1 md:p-2">
              {{-- <img alt="gallery" class="block h-full w-full rounded-lg  object-center"
                  src="https://img5.pic.in.th/file/secure-sv1/3108a51a1ddd6282146.png" /> --}}
              <div
                  class="relative h-full md:h-full mx-auto group rounded-md bg-gray-200 overflow-hidden shadow-xl">
                  <img src="https://img5.pic.in.th/file/secure-sv1/3108a51a1ddd6282146.png"l
                      alt="" class="absolute h-full w-full inset-0">
                  <div
                      class="absolute inset-0 w-full h-full rounded-2xl bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-20 group-hover:backdrop-blur">
                  </div>
                  <div class="flex flex-col absolute inset-x-2 text-white text-xs md:text-md lg:text-lg">
                      <h2 class="text-xs md:text-md xl:text-2xl font-semibold text-right">67PP009</h2>
                      <p class="font-medium uppercase tracking-wider mb-6 text-right">
                          HW-H
                      <p class="hidden group-hover:block text-white">ผลงานโครงการ....</p>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
          <div class="w-full p-1 md:p-2">
              {{-- <img alt="gallery" class="block h-full w-full rounded-lg  object-center"
                  src="https://img5.pic.in.th/file/secure-sv1/31167c50f724a25163c.png" /> --}}
              <div
                  class="relative h-full md:h-96 mx-auto group  px-5 py-8 group rounded-md bg-gray-200 overflow-hidden shadow-xl">
                  <img src="https://img5.pic.in.th/file/secure-sv1/31167c50f724a25163c.png"
                      alt="" class="absolute w-full h-full inset-0">
                  <div
                      class="absolute inset-0 w-full h-full rounded-2xl bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-20 group-hover:backdrop-blur">
                  </div>
                  <div class="flex flex-col absolute inset-x-2 text-white">
                      <h2 class="text-4xl font-semibold mb-2">Standart</h2>
                      <p class="text-sm font-medium uppercase tracking-wider mb-6">Free</p>
                      <p class="hidden group-hover:block text-white">Whether you're looking to save money
                          spending
                          abroad or sticking to
                          your
                          budget with our built-in budgeting, get more from your money with our Standard
                          account.</p>
                  </div>
                  <button
                      class="absolute inset-x-5 bottom-8 py-3 rounded-2xl font-semibold bg-white shadow-lg hidden transition duration-200 hover:bg-gray-300 group-hover:block">Learn
                      more</button>
              </div>
          </div>
          <div class="w-1/2 p-1 md:p-2">
              <img alt="gallery" class="block h-full w-full rounded-lg  object-center"
                  src="https://img5.pic.in.th/file/secure-sv1/312800ab0c9b46f590f.png" />
          </div>
          <div class="w-1/2 p-1 md:p-2">
              <img alt="gallery" class="block h-full w-full rounded-lg  object-center"
                  src="https://img2.pic.in.th/pic/313.png" />
          </div>
      </div>
  </div>
</div>
